*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* debug */
    background-color:  lightblue;
    padding: 10px;

}

.conteiner{
    display: flex;
    justify-content: center;

}

a{
    color: black;
    text-decoration: none;
}

.dot{
    border: 5px dashed black;
}

.dot-w{
    border: 5px dashed white ;
}

.logo, .link, .login{
    background-color: #d0c710;
    padding: 10px;
}

.logo{
    flex-basis: 10%;
}

.link{
    flex-basis: 40%;
    text-align: center;
}

.login{
    flex-basis: 10%;
    text-align: end;

}

.jumbo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 400px;
    background-color: blue;
}

.jumbo div{
    /* debug */
    min-height: 300px;
    min-width: 50%;
    background-color: #de47a7;

}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 500px;
}

.img{
    /* debug */
    min-height: 400px;
    flex-basis: 40%;
    background-color: #2062cc;
}

.txt{
    /* debug */
    min-height: 400px;
    flex-basis: 20%;
    background-color:pink;
}

.img-big{
    /* debug */
    min-height: 700px;
    flex-basis: 60%;
    background-color: green;
    margin: 50px 0;

}

.bg-gray{
    background-color: #b9afaf;
}

.block-1{
    /* debug */
    min-height: 300px;
    background-color: #b66d9c;
    flex-basis: 40%;
}

.block-2{
    /* debug */
    min-height: 300px;
    background-color: cyan;
    flex-basis: 15%;
}

.container3{
    /* debug */
    width: 60%;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #232121;
}

.border-w{
    border-top: solid 3px white ;
    padding-top: 20px;
}

.bg-cyan{
    /* debug */
    background-color: cyan;
    min-height: 50px;
}

.main-footer a{
    padding: 5px;
    /* debug */
    background-color: #b66d9c;
}

.main-footer .flex{
    justify-content: space-between;
}